@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 0.8vw;
  --active-color: #ff0000;
  --hover-color: white;
  --hover-color-caption: #606060;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  width: 100%;
  position: absolute;
  display: grid;
  justify-content: center;
  flex-direction: column;
}

captionText{
  color: #969696;
}


